<% if (page.comments){ %>
<section id="comment">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2138849"></script>
    <!-- UY END -->
</section>
<% } %>