#header
  height 45px
  background #40bead
  box-shadow 0 2px 2px rgba(0,0,0,0.3)
  @media screen and (max-width: 980px)
    width page-width
    padding 0 8px
  @media screen and (max-width: 820px)
    width auto
  h1
    position absolute
    left 0
    top 3px
    font-family "Adobe Garamond Pro", Garamond, Palatino, "Palatino Linotype", Times, "Times New Roman", Georgia, serif
    font-weight normal
    font-style italic
    font-size 1.5em
    line-height 45px
    a
      color #fff

#header-h2
  position absolute
  left 135px
  top 5px
  font-weight normal
  font-size 1em
  line-height 45px
  color #eee

  @media screen and (max-width: 960px)
    padding 0 1em

#main-nav
  position absolute
  right 0
  top 0
  ul
    list-style none
    li
      float left
      margin-top 4px
      margin-left 15px
      line-height 45px
      a
        font-size 0.9em
        color #2b7f74
        &:hover
          color #fff